<% content_for :title do %>
 <img src="/assets/calorie.gif"> &ndash; <%= Date.today %>
<% end %>

<div class="columns mt-6 is-centered">
  <div class="card-content">
   <div class="content">
   <p>Meal types:
    <% @entries.each do |entry| %> |
    <%= entry.meal_type %>
    <% end %> |</p>
    <p> Total Calories: <%= @entries.pluck(:calories).sum %> </p>
    <p> Total Carbohydrates: <%= @entries.pluck(:carbohydrates).sum %> </p>
    <p> Total Protein: <%= @entries.pluck(:protein).sum %> </p>
    <p> Total Fat: <%= @entries.pluck(:fats).sum %> </p>
    <p colspan="3"></p>
    
  </div>
</div>
</div>
<%# this will have the calc day display  %>
<div class="columns mt-6 is-centered">
  <div id="entries">
    <% @entries.each do |entry| %>
      <%= render entry %>
      <button>
        <%= link_to "Show this entry ", entry %>
      </button>
      
    <% end %>
  </div>
</div>
<div class="columns mt-6 is-centered" >
  <button>
        <%= link_to " New entry", new_entry_path %>
  </button>
</div>

<%# this is the entry conatiner and the children  %>
