<% content_for :title do %>
 <img src="/assets/calorie.gif"> &ndash; <%= Date.today %>
<% end %>

<div class="columns mt-6 is-centered">
  <div class="card-content">
   <div class="content">

    <p>
     <strong> Total meals:</strong><i> <%= @entries.all.count %> </i>
     <strong>Total Calories:</strong><i> <%= @entries.pluck(:calories).sum %> </i>
     <strong> Total Carbohydrates:</strong><i> <%= @entries.pluck(:carbohydrates).sum %> </i>
     <strong>Total Protein: </strong><i> <%= @entries.pluck(:protein).sum %> </i>
     <strong>Total Fat:</strong><i> <%= @entries.pluck(:fats).sum %> </i>
    <p colspan="3"></p>
    </p>

    
  </div>
</div>
</div>
<%# this will have the calc day display  %>
<div class="columns mt-6 is-centered">
  <div id="entries">
    <% @entries.each do |entry| %>
      <%= render entry %>
      <button>
        <%= link_to "Show this entry ", entry %>
      </button>
      
    <% end %>
  </div>
</div>
<div class="columns mt-6 is-centered" >
  <button>
        <%= link_to " New entry", new_entry_path %>
  </button>
</div>

<%# this is the entry conatiner and the children  %>
