<% content_for :title do %>
  <%= @entry.meal_type %> &ndash; <%=Date.today.strftime('%A - %B %d, %Y') %>
<% end %>

<div class="columns mt-6 is-centered">
  <div class="column is-one-third">
    <nav class="panel is-link">
      <p class="panel-heading ">
        <%= @entry.meal_type %>
        
      </p>

      <div class="card-content-body">
        <p><span>
          <strong>Description:</strong>
          <%= @entry.description %>
          </span>
        </p>

        <p class="grey"><span>
          <strong>Calories:</strong>
          <%= @entry.calories %>
          </span>
        </p>

        <p><span>
          <strong>Carbohydrates:</strong>
          <%= @entry.carbohydrates %>
          </span>
        </p>

        <p class="grey"><span>
          <strong>Protein:</strong>
          <%= @entry.protein %>
          </span>
        </p>

        <p><span>
          <strong>Fats:</strong>
          <%= @entry.fats %>
          </span>
        </p>
        <p class="time">Logged <%= time_ago_in_words(@entry.created_at) %> ago
      </div>
  </div>

  
      
    </div>
  </div>
</div>

<div class="columns is-centered mt-6">
      <span class="is-centered mt-6"></span>
      <span>  <%= link_to "Edit", edit_entry_path(@entry), class: "button is-gray" %></span>
      <span>  <%= link_to "Back to entries", entries_path,class: "button is-gray" %></span>
        <%= link_to "Delete", entry_path(@entry), method: :delete, data: { confirm: "Are you sure?" }, class: "button is-gray" %>
      
      </p>